@import './link-1/header.css';
@import './link-1/main.css';
@import './link-1/footer.css';

.body {
    height: 90vh;
}

main{
    transform: translateY(35%);
}

.main{
    background-color: #fff;
    padding: 0px 15px 70px 15px;
    max-width: 1150px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    padding: 0px 10px;
    max-width: 1150px;
    margin: 0 auto;
}

:root {
    --basic-1: #76856e;
    --basic-2: #8e7734;
    --basic-3: #4a5656;
}

@font-face {
    font-family: "Manrope-Bold";
    src: url(../../font/Manrope-Bold.ttf);
}

.body {
    font-family: "Manrope-Bold";
    font-size: 12px;
}